@font-face {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
  }
        
  @font-face {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");
  }
        
  @font-face {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
  }
  
  @font-face {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
  }
  
  :root {
    --body-font: "Josefin Sans", sans-serif;
    --body-font_weight: 300;
    --body-font_style: normal;
    --body-font_size: 22px;
    --body-letter_spacing: 0px;
    --body-line_height: 1.6;

    --body_mb-font_size: 20px;
    --body_mb-line_height: 1.6;

    --heading-font: "Josefin Sans", sans-serif;
    --heading-font_weight: 400;
    --heading-font_style: normal;
    --heading-font_size: 24px;
    --heading-letter_spacing: -1px;

    --page_header-font_weight: 700;
    --page_header-line_height: 1.3;
    --page_header-letter_spacing: -2.5px;
    --page_header-text_transform: none;
    --page_header-font_size: 60px;

    --page_title-font_weight: 600;
    --page_title-letter_spacing: -0.5px;
    --page_title-text_transform: none;

    --single_page_title-font_weight: 700;
    --single_page_title-letter_spacing: -2px;
    --single_page_title-text_transform: none;
    --single_page_title-font_size: 62px;
    --single_page_title-line_height: 1.1;

    --button-font_weight: 700;
    --button-letter_spacing: 1px;
    --button-text_transform: uppercase;
    --button-font_size: 12px;

    --menu-font: "Josefin Sans";
    --menu-font_weight: 400;
    --menu-font_style: normal;
    --menu-font_size: 20px;
    --menu-letter_spacing: -1px;
    --menu-text_transform: none;
    --menu-icon_size: 18px;

    --submenu-font_size: 17px;
    --submenu-font_weight: 300;
    --submenu-letter_spacing: 0px;
    --submenu-text_transform: none;

    --menu_mb-font_size: 26px;
    --menu_mb-font_weight: 400;
    --menu_mb-letter_spacing: 0px;
    --menu_mb-text_transform: none;

    --color-bground: #fff;
    --color-bground-rgb: 255, 255, 255;
    
    
    --color-bground-invert: #000000;
    --color-bground-invert-rgb: 0, 0, 0;

    --color-bground_dark: #f7f8fa;
    --color-text: #3a3a3a;
    --color-text-rgb: 58, 58, 58;
    --color-link: #000;
    --color-link-rgb: 0, 0, 0;
    --color-border: #e7e7e7;
    --color-price: #000;
    --color-heading: #000;
    --color-heading-rgb: 0, 0, 0;
    --color-highlight: #000;
    --color-highlight_text: #fff;
    --color-highlight-text: #fff;
    --color-highlight2: #000;
    --color-highlight2_text: #fff;

    --btn-color: #fff;
    --btn-border: #000;
    --btn-bground: #000;
    --btn-color_hover: #000;
    --btn-border_hover: #000;
    --btn-bground_hover: #fff;
    --btn-font_size: 12px;
    --btn-font_weight: 700;

    --color-error: #000;
    --color-error_bg: #f9dddd;
    --color-error_ico: #da4343;
    --color-success: #000;
    --color-success_bg: #effae6;
    --color-success_ico: #85ab69;

    --header-mb_color: #000;
    --header-mb_bground: #fff;
    --header-mb_size: 18px;

    --header-color: #777;
    --header-link: #000;
    --header-highlight: #000;
    --header-bground: #fff;
    --header-border: #e7e7e7;
    --header-font_size: 20px;
    --header-icon_size: 18px;
    --header-font_weight: 400;

    --topbar-color: #141414;
    --topbar-link: #141414;
    --topbar-highlight: #000000;
    --topbar-bground: #ffffff;
    --topbar-border: #e7e7e7;
    --topbar-font_size: 16px;
    --topbar-icon_size: 18px;
    --topbar-font_weight: 300;

    --menu-bground: #fff;
    --menu-color: #000;
    --menu-highlight: #000;
    --submenu-bground: #fff;
    --submenu-color: #000;
    --submenu-highlight: #666666;
    --submenu-border_width: 0px;
    --submenu-border_color: #000;
    --vmenu-bground: #fff;
    --vmenu-color: #000;
    --vmenu-highlight: #00c9b7;

    --footer-color: #858585;
    --footer-heading: #000;
    --footer-link: #000;
    --footer-highlight: #666;
    --footer-bground: #fff;
    --footer-font_size: 19px;
    --footer-font_weight: 300;

    --cpyright-color: #000;
    --cpyright-link: #000;
    --cpyright-highlight: #666;
    --cpyright-bground: #fff;
    --cpyright-border: #eee;
    --cpyright-font_size: 18px;
    --cpyright-font_weight: 300;

    --boxed-bground: #f2f2f2;
    --mobile-font_size: 16px;

    --font-stack-body: "Josefin Sans", sans-serif;
    --font-stack-heading: "Josefin Sans", sans-serif;
    --font-stack-menu: "Josefin Sans", sans-serif;

    --h0_size: 75.768px;
    --h1_size: 56.856px;
    --h2_size: 42.648px; 
    --h3_size: 31.992px; 
    --h4_size: 24px; 
    --h5_size: 18.0px;
    --h6_size: 15.6px;	

    --heading_medium-font_size: 19.2px;	
    --h0_size_medium: 60.6144px;
    --h1_size_medium: 45.4848px;
    --h2_size_medium: 34.1184px; 
    --h3_size_medium: 30.72px; 
    --h4_size_medium: 26.88px; 
    --h5_size_medium: 19.2px; 
    --h6_size_medium: 18.24px;

    --heading_mobile-font_size: 16px;	
    --h0_size_mobile: 50.512px;
    --h1_size_mobile: 37.904px;
    --h2_size_mobile: 28.432px; 
    --h3_size_mobile: 25.6px; 
    --h4_size_mobile: 22.4px; 
    --h5_size_mobile: 16px; 
    --h6_size_mobile: 15.2px;


    --page_header-font_size_small: 48.0px;
    --page_header-font_size_large: 67.2px;
    --page_header-font_size_xlarge: 72.0px;


    --space_xxxs: 3.0px;
    --space_xxs: 4.5px;
    --space_xs: 6.0px;
    --space_sm: 9.0px;
    --space_md: 18.0px;
    --space_df: 22.8px;
    --space_lg: 31.2px;
    --space_xl: 40.2px;
    --space_xxl: 63.0px;
    --space_xxxl: 102.0px;

    --btn_sm: 9.6px;
    --btn_df: 12px;
    --btn_lg: 14.4px;

    --lb-primary-color: #000;
    --lb-hotspot-color: #fff;
    --lb-hotspot-border: #000;
    --lb-hotspot-background: #000;
    --lb-hotspot-price: #000;

    --box-layout-background-image: url(//cdn.shopify.com/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_1024x1024.gif);
    --box-layout-background-repeat: no-repeat;
    --box-layout-background-position: top left;    
  }